body {
  cursor: url(pun.png);
  font-family: Trebuchet MS, Courier New;
  text-align: right;
}
h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539F;
}
div{
  text-align: center;
  style="font-size:25px;
  sty
}